<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="es" lang="es">
    <head>        
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="estilos.css" />
    </head>        
    
    <body>
        <div class="container">  
          <form id="contact" action="../enviarlink.php" method="post">
            <h3>Ingresa Email</h3>


            <fieldset>
              <input name="email" placeholder="Tu email" type="email" tabindex="2" required>
            </fieldset>

            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Enviar">Enviar Link</button>
            </fieldset> 
          </form>
        </div>
    </body>
</html>
